/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	padding:20px;
	background-color: #f5f5f5;
}
header{
	background-color:#011e29;
	padding:20px;
	margin:10px;
	border:1px solid black;
	color:white;
	text-align:center;
}
.header{
	display:flex;
	justify-content:space-around;
	padding:20px;
	gap:10px;
	width:100vw;
	
}
.latest-news-section{
	border:1px solid white;
	background-color:white;
	border-radius:10px;
	padding:15px;
	width:30%;
	
}
.latest-news-section ul li{
	padding-left:20px;
}
.main-article{
	border:1px solid white;
	background-color:white;
	border-radius:10px;
	padding:15px;
	text-align:center;
	
}

.pictorial-news-section{
	border:1px solid white;
	background-color:white;
	border-radius:10px;
	padding:15px;
}
.pictorial-news-section img{
	width:150px;
}